/* General */
@font-face {
   font-family: 'PT serif';
   src: url('../fonts/PTSerif-Regular.ttf');
}
@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Regular.ttf');
   font-family: 'Poppins';
}
@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Bold.ttf');
   font-family: 'Poppins-bold';
}
* { 
    font-family: Inconsolata;  
    color: #333;
    margin: 0;
    padding: 0;
}
body { 
    padding: 10px; 
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT serif';
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
}
h1 { font-size: 3em; }
h3 { font-size: 2em; }
h4 { font-size: 1.2em; }
p {
    font-family: 'Poppins';
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
}
a { text-decoration: none; }
a, a:visited, a:focus { color: #4a4a4a; }
a:active, a:hover { color: #727272; }
footer a:hover { text-decoration: underline; }
.uppercase { text-transform: uppercase; }
.center-text { text-align: center; }
.clear { 
    clear: both;
    margin-bottom: 20px; 
}



/* Overrides */




/* Team Design */
.member {
    position: relative;
    height: 400px;
    margin: 0 auto;
}
.portrait { display: flex; }
.member { margin-bottom: 80px; }
.member:nth-child(2) .portrait, .member:nth-child(5) .portrait { margin-top: 80px; }
.member img { width: 250px; }
.position {
    font-size: 1.2em;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    margin-left: 5px;
}
.name {
    clear: both;
    margin-top: 10px;
    font-weight: bold;
}


/* Queries */
@media only screen and (min-width: 0px) and (max-width: 600px) {
    .clear { margin-bottom: 2%;  }
    h1 { font-size: 2.4em; }
    h3 { font-size: 1.4em; }
    .member { 
        height: 200px; 
        margin-bottom: 0; 
    }
    .member img { width: 120px; }
    .name { font-size: 0.9em; }
    .position { 
        margin-top: 4px;
        font-size: 0.8em; 
    }
    .member:nth-child(2) .portrait, .member:nth-child(5) .portrait { margin-top: 0; }
    .member:nth-child(even) { margin-top: 40px; }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .clear { margin-bottom: 2%; }
    h1 { font-size: 2.4em; }
    h3 { font-size: 1.4em; }
    .member:nth-child(2) .portrait, .member:nth-child(5) .portrait { margin-top: 0; }
    .member:nth-child(even) { margin-top: 40px; }
}